@charset "ISO-8859-1";

body {
	background-color: gold;
}

p {
	text-align: center;
	text-decoration: blink;
}

button {
	border-radius: 0.5em;
	background-color: black;
	color: white;
}

.container {
	display: flex;
	flex-direction: row;
	column-gap: 5em;
	margin-left:10em;
	margin-top:5em;
	margin-right:10em;
	text-align: center;
	align-content: left;
}
