@charset "ISO-8859-1";
header{
	align-content: center;
}
body {
	background-color: gold;
}

button {
	border-radius: 1em;
	background-color: black;
	color: white;
}

.container1 {
	display: flex;
	flex-direction: column;
	row-gap: 5em;
	margin-left:10em;
	margin-top:5em;
	margin-right:10em;
	text-align: left;
	align-content: center;
}

p {
	text-align: left;
	text-decoration: blink;
	color: black;
}
h1{
	align-content: center;
}
