@charset "ISO-8859-1";
.container{
    display: grid;
    grid-template-columns: 20em 20em 20em 20em;

}


header{
	align-content: center;
}
body {
	background-color: gold;
}
input {
	border-radius: 1em;
	padding: inherit;
	background-color: black;
	color: white;
}

.request{
    border-style: groove;
    border-radius: 0.5em;
    height: 15em;
    width: 15em;
    margin-top: 2em;
    margin-right: 2em;
}

