@charset "ISO-8859-1";

input{
	border-radius: 0.5em;
}

body {
	background-color: gold;
}

button{
	border-radius: 0.5em;
	background-color: black;
	color: white;
}

.container{
	display: flex;
	flex-direction: row;
	column-gap: 5em;
	margin-left:10em;
	margin-top:10em;
	margin-right:10em;
	text-align: center;
}

#logindiv{
	display:flex;
	flex-direction: column;
	border-radius: .5em;
	border-style: groove;
	border-width: .5px;
	padding: 3em;
}