<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Reimbursement</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <description></description>
    <display-name>MyHttpServlet</display-name>
    <servlet-name>MyHttpServlet</servlet-name>
    <servlet-class>com.web.controller.MyHttpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyHttpServlet</servlet-name>
    <url-pattern>/api/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>MyHttpServlet2</display-name>
    <servlet-name>MyHttpServlet2</servlet-name>
    <servlet-class>com.web.controller.MyHttpServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyHttpServlet2</servlet-name>
    <url-pattern>/MyHttpServlet2</url-pattern>
  </servlet-mapping>  
  
  <error-page>
    <error-code>404</error-code>
    <location>/404.html</location>
  </error-page>
</web-app>